/* body { padding: 0 1rem 1rem 1rem;} */
.hdrbg { background-image: url('../img/headerbg3.png'); height: vh;}
.navpanel {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #fff;
    transition: 0.4s;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
nav ul { list-style: none; transition: 0.3s;}
nav ul li {display: inline-block;}
#logo {transition: 0.3s;}

        /* Menu panel */

.navpanel {align-items: center; justify-content: space-around; }
.dropdown-content { left: .5rem; position: absolute; top: 2.9rem; }
.dropdown { flex-wrap: wrap; flex-direction: row;}
.logo2 img { height: 70px;}
.menu-btn {display: none;}
.slogan {  padding: 15% 20%; margin-left: 5em; }
#slgnbigtitle {font-size: 3.375em;}
#slgnsmalltitle {margin-left: 5em;}
.tittle { font-size: 2.25em; padding: 2rem 0 0 2rem; }
.subtittle {font-size: 1.8em; padding: 1rem; }
.idea {padding: 4rem 10rem;}
.txt {padding: 1rem; font-size: 1.2em;}
.ideatxt { padding: 2rem; }
.icon { max-width: 220px; }
.problem, .idea { margin: 4rem 0; }
.icons { justify-content: space-evenly; flex-wrap: wrap;}
.fa-solid{ -webkit-transition: all 0.5s; transition: all 0.5s;}
.problem .fa-solid:hover{ font-size: 7em;}
.idea .fa-solid:hover {font-size: 10em;}
.problem { padding: 4rem 0;}
.idea .fa-solid{ padding: 4rem 0;}
.navigation-auto { margin-left: 18rem;}
.navigation-manual { margin-left: 18rem; }

.about iframe{
    width: 100%;
    /* height: 315px;   */
  } 
  .about .idea {
      margin-top: 0;
  }